html, body, .container {
  height: 100%;
}

body {
  font-size: 16px;
}

header {
  margin: 1%;
}


h1 {
  text-align: center;
}

main {
  margin: 2% 0;
  height: 100%;
}

div.deck-controls, div.card-controls {
  padding: 0;
  margin-top: 2%;
  list-style-type: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

div.deck-controls button {
  display: inline-block;
  padding: 5px;
  margin-top: 1%;
}

.backward, .forward {
  display: inline-block;
}

textarea.form-control {
  height: 100%;
}

.stage {
  -webkit-perspective: 1000; 
}

.flashcard {
  height: 300px;  
  width: 500px; 
  margin: 5% auto;
  border: 1px solid gray; 
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;  
  transition: all 0.3s;               
  -webkit-transition: all 0.3s;
}

.flipped, .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg); 
}

.front, .back {
  background-color: #eee;
  height: 300px;          
  width: 500px;
  position: absolute;    
  text-align: center;   
  -webkit-backface-visibility: hidden;       
}

.front p {     
  font-size: 3em;
  margin-top: 20%; 
}

.back p {
  font-size: 1.5em;
  padding: 10% 5%;
  text-align: justify;
}


.front:hover {
  opacity: .50;
}

.front:hover, .back:hover {
  cursor: pointer;
}
