body {
  font-size: 16px;
}

header {
  margin: 1%;
}

main {
  margin: 2% 0;
  height: 100%;
}

div.deck-controls, div.card-controls {
  padding: 0;
  margin-top: 2%;
  list-style-type: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

div.deck-controls button {
  display: inline-block;
  padding: 5px;
  margin-top: 1%;
}

h1 {
  text-align: center;
}

.card {
  height: 250px;
  background-color: #eee;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1%;
  line-height: 150%;
}

.front {
  padding-top: 10%;
  text-align: center;
  font-size: 3em;
  text-decoration: underline;
}

.back {
  display: none;
  padding: 5%;
}

.backward, .forward {
  display: inline-block;
}

.card-highlight {
  opacity: .50;
  cursor: pointer;
}

html, body, .container {
  height: 100%;
}
textarea.form-control {
  height: 100%;
}