<div class="container" ng-controller="ViewDeckController">
  <div class="row">
    <div class="col-md-12">
      <h1>JavaScript Deck</h1>
      <div ng-click="showFront = false" class="card front" ng-show="showFront">
        <p class="lead" title="Click to flip">{{ cards[currentCard].front }}</p>
      </div>
      <div ng-click="showFront = true" class="card back" ng-show="!showFront">
        <p title="Click to flip">{{ cards[currentCard].back }}</p>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-controls">
        <div class="backward">
          <button type="button" class="btn btn-primary" ng-click="backward()">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
        </div>
        <div class="forward">
          <button type="button" class="btn btn-primary" ng-click="forward()"><span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="deck-controls">
       <button type="button" class="btn btn-default" ng-click="shuffle()">Shuffle Deck
       </button>
      </div>
    </div>
  </div>
</div>